<form action="/subscribe" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="email" placeholder="Email" />
  <input type="checkbox" name="vip" id="vip-checkbox" />
  <label for="vip-checkbox">I'm King</label>
  <input type="submit" name="submit" />
</form>
